.home {
  width: 100%;
  overflow-x: hidden;

  .container {

    .background {
      position: absolute;

      height: 100%;
      width: 100%;
      //top: 20vh;

      background-blend-mode: multiply;
      background-size: contain;
      background: url('../../../assets/background-serach.jpg') no-repeat;
      background-size: 100%;
    }

    display: grid;
    grid-template-rows: 6fr 1fr 3fr 1fr 3fr 1fr;
    grid-auto-flow: row;

    @media (max-width: 1000px) {
      display: grid;
      grid-template-rows: 4fr 1fr 3fr 1fr 3fr 1fr;
      grid-auto-flow: row;
    }

    @media (max-width: 700px) {
      display: grid;
      grid-template-rows: 3fr 1fr 3fr 1fr 3fr 1fr;
      grid-auto-flow: row;
    }

    //position: relative;
    height: 100%;
    background-color: rgb(73, 69, 69);

    .search {
      //grid-area: Search;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    input {
      color: white;
    }



    .logo {
      position: relative;

      width: 20vw;
      height: 15vw;

      margin-top: 50px;
      left: 40%;

      background: transparent url('../../../assets/logo.png') no-repeat;
      background-size: 20vw;
      z-index: 10;
    }

    .bar {
      position: relative;
      color: black;
      width: 60%;
      left: 20%;
      margin-top: 50px;
      //top: 40%;
    }

    .authors-container {
      grid-row-start: 3;
      grid-row-end: 4;
      background: black;
      //height: 30vh;
      height: 300px;
      width: 100vw;
      //top: 40%;
      text-align: center;

      position: relative;

      .authors-title {
        background: black;
        position: relative;
        height: 10%;
        padding: 1%;
        color: white;
        font-weight: bold;
        margin: 0;
      }

      .best-authors {
        position: relative;
        background: black;
        height: 70%;
        width: 97%;
        left: 1%;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;

        &::-webkit-scrollbar {
          display: none
        }
      }
      #scroll-right {
        position: absolute;
        left: 95%;
        top: 45%;
      }

      #scroll-left {
        position: absolute;
        left: 1%;
        top: 45%;
      }
    }


    .downloaded-items-container {
      grid-row-start: 5;
      grid-row-end: 6;
      //position: absolute;
      background: black;
      //height: 30vh;
      height: 300px;
      width: 100vw;
      position: relative;

      .downloaded-items-title {
        height: 10%;
        padding: 1%;
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }

      .most-downloaded {
        position: relative;
        background: black;
        height: 70%;
        width: 97%;
        left: 1%;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;

        &::-webkit-scrollbar {
          display: none
        }
      }
      #scroll-right-downloads {
        position: absolute;
        left: 95%;
        top: 50%;
      }

      #scroll-left-downloads {
        position: absolute;
        left: 1%;
        top: 50%;
      }
    }


    .scroll-right {
      margin: 0;
      background: url('../../../assets/arrowR.png') no-repeat;
      background-size: 3vw;
      width: 3vw;
      height: 3vw;
      border: none;
      opacity: 70%;
      display: block;
    }

    .scroll-left {
      margin: 0;
      padding: 0;
      background: url('../../../assets/arrowL.png') no-repeat;
      background-size: 3vw;
      width: 3vw;
      height: 3vw;
      border: none;
      opacity: 70%;
      display: none;
    }

    .scroll-up {
      position: fixed;
      left: 95%;
      top: 90%;
      background: url('../../../assets/arrowUp.png') no-repeat;
      background-size: 2vw;
      width: 2vw;
      height: 2vw;
      border: none;
      display: none;
    }
  }
}


