<div class="home">
    <div class="container">
        <div class="logo"></div>
        <div class="background"></div>
        <form #form="ngForm" (submit)="onSubmit()">
            <mat-form-field class="bar" appearance="outline">
                <mat-label>SEARCH</mat-label>
                <input type="text" matInput placeholder="Mathematics">
            </mat-form-field>

            <button type="submit" hidden #btn></button>
        </form>
      <div class="authors-container" id="home-authors">
        <h1 class="authors-title">Best Authors:</h1>
        <div class="best-authors" id="authors" (scroll)="checkButtonVisibility()">
          <app-author-item *ngFor="let item of mockData" [name]="item.name" [downloads]="item.downloadCount" [publications]="item.publicationCount"></app-author-item>
        </div>
        <button id="scroll-right" class="scroll-right" (click)="clickScrollRight()"></button>
        <button id="scroll-left" class="scroll-left" (click)="clickScrollLeft()"></button>
      </div>
    </div>
</div>
