#home {
    width: 100%;
        height: 100%;
    #serach {
        margin: 0;
        background-image: url('../../../assets/background-serach.jpg');

        width: 100%;
        height: 100%;
        
        position: absolute;
        object-fit: cover;

        #serach--bar {

        }
    }
}