
.download {


  margin: 10px;

  cursor: pointer;
  width: 200px;
  height: 70%;

  mat-card-title {
    font-size: 15px;
  }

  .metadata {
    position: absolute;
    top: 80%;
  }

  #name-tag {
    text-decoration: underline;
  }

}


