/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
}

body { 
    width: 100%;
    height: 100vh;
    margin: 0px; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 

    background-color: rgb(36, 32, 32);
}

:root {
    --button-color: black;
    --font-color: white;
}

#content {
    height: 100%;
    width: 100%;
}

*::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3a1245;
    border-radius: 0px;
    border: 0px none #ffffff;
}