/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
}

body { 
    width: 100%;
    height: 100vh;
    margin: 0px; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

:root {
    --button-color: black;
    --font-color: white;
}

#content {
    height: 100%;
    width: 100%;
}