// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$market-primary: mat-palette($mat-light-blue);
$market-accent: mat-palette($mat-purple);
$market-warn: mat-palette($mat-red);

$market-theme: mat-light-theme($market-primary, $market-accent, $market-warn);
@include angular-material-theme($market-theme);

//for dark theme
$market-primary-dark: mat-palette($mat-purple);
$market-accent-dark: mat-palette($mat-purple);
$market-warn-dark: mat-palette($mat-red);

$market-theme-dark: mat-dark-theme($market-primary-dark, $market-accent-dark, $market-warn-dark);
.dark-theme-mode {
  @include angular-material-theme($market-theme-dark);
}

html, body {
  height: 100%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --button-color: black;
  --font-color: white;
}

#content {
  height: 100%;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #3a1245;
  border-radius: 0px;
  border: 0px none #ffffff;
}
