
.author {

  margin: 20px;
  padding: 5%;

  cursor: pointer;
  width: 150px;
  height: 70%;

  .pContainer {
    position: absolute;
    top: 40%;
    width: 90%;
  }

  #publications {
    font-size: xx-large;
  }
}
