.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Filter Search-Result Search-Result"
      "Filter Search-Result Search-Result"
      ". Search-Result Search-Result";
  }
  
  .Search-Result { grid-area: Search-Result; }
  
  .Filter { 
    grid-area: Filter; 
    
    h1 {
      color : white;
      text-align: center;
    }

    button {
      margin: 10px;
      background-color: rgb(73, 69, 69);
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-form-field {
        margin: 10px;
        width: 250px;
      }
    }

    input {
       color: white;
    }

  }

.bar {           
    color: white;
    margin-top: 15px;
    
    width: 60%;
    left: 20%;
    top: 30%;
}